Node Red Source
[{"id":"fae9da5d.051628","type":"mongodb","hostname":"ds055190.mongolab.com","port":"55190","db":"IbmCloud_hu0d1pt5_9pblv8b9","name":"agrinode01_data"},{"id":"989f17e0.6760e8","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"5359460e.aca6b8","type":"mqtt in","z":"434562cd.bcba9c","name":"agrinode01","topic":"agrinode01","broker":"989f17e0.6760e8","x":86,"y":81,"wires":[["8fe286fa.701d78"]]},{"id":"503ba936.afc458","type":"debug","z":"434562cd.bcba9c","name":"debug","active":true,"console":"false","complete":"payload","x":735,"y":67,"wires":[]},{"id":"6102e32d.9efd1c","type":"function","z":"434562cd.bcba9c","name":"add timestame","func":"var d=new Date();\nvar n=d.getTime();\nmsg.payload.d.Time=n;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":85,"wires":[["503ba936.afc458","a4d50247.5b2b"]]},{"id":"e8608d2d.179f7","type":"http in","z":"434562cd.bcba9c","name":"data web service GET","url":"/data","method":"get","swaggerDoc":"","x":105,"y":293,"wires":[["34a0b09e.cb5f5"]]},{"id":"36ef39c3.c910c6","type":"http response","z":"434562cd.bcba9c","name":"data out","x":734.0000152587891,"y":299,"wires":[]},{"id":"34a0b09e.cb5f5","type":"function","z":"434562cd.bcba9c","name":"update payload","func":"if ((typeof msg.payload.start == \"string\") && (typeof msg.payload.end == \"string\")) {\n\tvar stt = parseInt(msg.payload.start);\n\tvar edd = parseInt(msg.payload.end);\n\tmsg.payload =   {\n    \t\"payload.d.time\": {$gt: stt, $lt: edd}\n    };\n} else {\n\tmsg.payload = {};\n}\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":290,"wires":[["48054297.b7fabc"]]},{"id":"8fe286fa.701d78","type":"json","z":"434562cd.bcba9c","name":"","x":278,"y":83,"wires":[["6102e32d.9efd1c"]]},{"id":"48054297.b7fabc","type":"mongodb in","z":"434562cd.bcba9c","service":"MongoLab-v7","mongodb":"fae9da5d.051628","name":"mongodb query","collection":"agrinode01_data","operation":"find","x":507.8957977294922,"y":293.8888854980469,"wires":[["36ef39c3.c910c6"]]},{"id":"a4d50247.5b2b","type":"mongodb out","z":"434562cd.bcba9c","service":"MongoLab-v7","mongodb":"fae9da5d.051628","name":"","collection":"agrinode01_data","payonly":true,"upsert":false,"multi":false,"operation":"store","x":737,"y":182,"wires":[]}]
